<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ionic-plugin-userdefault"
    version="2.2.1">
    <name>userdefault</name>
    <description>Ionic userdefault Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,userdefault</keywords>


    <!-- ios -->
    <platform name="ios">
<!--        <js-module src="www/ios/userdefault.js" name="userdefault">-->
<!--            <runs/>-->
<!--            <clobbers target="cordova.plugins.userdefault" />-->
<!--        </js-module>-->
        <config-file target="config.xml" parent="/*">
            <feature name="UserDefaultPlugin">
                <param name="ios-package" value="UserDefaultPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/UserDefaultPlugin.h" />
        <source-file src="src/ios/UserDefaultPlugin.m" />
    </platform>


</plugin>
